/* body {
    font-family: 'Bebas Neue', cursive;
} */
header {
    background-color:#FFF9F4;
}
.text-highlight {
    color: #FA804C;
}
.product-card{
    margin: 5px;
}
.bg-color {
    background-color: #FA804C;
}